h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

.sso-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 15rem;
    margin-right: 15rem;
}

.sso-description {
    margin: 2rem;
    margin-top: 8rem;
}

.sso-logo {
    width: 40%;
}

.sso-description h1 {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
}

.sso-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sso-screen-capture {
    overflow: auto;
    width: 40%;
    height: 30em;
}

.sso-colour {
    width: 100%;
}

.sso-uses {
    width: 100%;
}