h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

.icons-image{
    width: 100%;
}

.icons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 15rem;
    margin-right: 15rem;
}

.icons-description {
    margin: 2rem;
}

.icons-description h1 {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
}

@media only screen and (max-width: 800px) {
    .icons-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        text-align: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    
    .icons-description {
        margin: 1rem;
    }
    
    .icons-description h1 {
        font-family: "Bowlby One SC", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
    }
}