h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

.chester-mural-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-left: 15rem;
    margin-right: 15rem;
    padding: 0;
  }

.chester-mural-description h1 {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
}

.chester-mural-page {
    width: 100%;
}

.chester-mural-description {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.chester-mural-main-image {
    width: 100%;
}

.chester-mural-images {
    text-align: center;
}

.bridgeStreet {
    height: 30em;
    margin: 1rem;
}

.storyhouse {
    height: 30em;
    margin: 1rem;
}

.chesterCross {
    height: 30em;
    margin: 1rem;
}

.townHall {
    height: 30em;
    margin: 1rem;
}

.ladyDiana {
    height: 30em;
    margin: 1rem;
}

.cathedral {
    height: 30em;
    margin: 1rem;
}

.queensParkBridge {
    height: 30em;
    margin: 1rem;
}

.eastgateClock {
    height: 30em;
    margin: 1rem;
}

@media only screen and (max-width: 800px) {
    .chester-mural-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding: 0;
      }

    .birkenhead-description {
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .birkenhead-description p {
        padding: 0;
    }

    .chester-mural-description h1 {
        font-family: "Bowlby One SC", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
    }

    .chester-mural-images {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    .bridgeStreet {
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 1rem 1rem 0 0;
        object-fit: cover;
    }
    
    .storyhouse {
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 1rem 1rem 0 0; 
        object-fit: cover;
    }
    
    .chesterCross {
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 1rem 1rem 0 0;
        object-fit: cover;
    }
    
    .townHall {
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 1rem 1rem 0 0;
        object-fit: cover;
    }
    
    .ladyDiana {
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 1rem 1rem 0 0;
        object-fit: cover;
    }
    
    .cathedral {
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 1rem 1rem 0 0;
        object-fit: cover;
    }
    
    .queensParkBridge {
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 1rem 1rem 0 0;
        object-fit: cover;
    }
    
    .eastgateClock {
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: 1rem 1rem 0 0;
        object-fit: cover;
    }

  }