h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

/* .horizontal-scroll-container {
    overflow: auto;
    height: 20em;
    width: 100%;
} */

.chester-mural-page {
    width: 100%;
}

.chester-mural-description {
    margin: 2rem;
}

.chester-mural-main-image {
    width: 100%;
}

.bridgeStreet {
    /* width: 30%; */
    height: 30em;
    margin: 1rem;
}

.storyhouse {
    /* width: auto; */
    height: 30em;
    margin: 1rem;
}

.chesterCross {
    /* width: auto; */
    height: 30em;
    margin: 1rem;
}

.townHall {
    /* width: auto; */
    height: 30em;
    margin: 1rem;
}

.bandstand {
    /* width: auto; */
    height: 30em;
    margin: 1rem;
}

.ladyDiana {
    /* width: auto; */
    height: 30em;
    margin: 1rem;
}

.cathedral {
    /* width: auto; */
    height: 30em;
    margin: 1rem;
}

.queensParkBridge {
    /* width: auto; */
    height: 30em;
    margin: 1rem;
}

.eastgateClock {
    /* width: auto; */
    height: 30em;
    margin: 1rem;
}