h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

.intro-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 15rem;
    margin-right: 15rem;
    padding: 0;
  }

.intro-description h1 {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
}

.intro-description {
    padding: 2rem;
}