h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

hr {
    color: rgb(143, 142, 142);
    border-width: 2px;
}

.uoc-rebrand-page h2 {
    margin-left: 2rem;
}

.uoc-rebrand-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 15rem;
    margin-right: 15rem;
}

.uoc-rebrand-description {
    margin: 2rem;
}

.uoc-rebrand-description h1 {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
}

.uoc-rebrand-titles {
    margin-top: 2rem;
}

.chester-logo {
    width: 100%;
}

.campus-logo {
    width:100%;
}

.logos {
    width: 100%;
}

.department-logo {
    width: 100%;
}

.uses {
    width: 100%;
}