.chester-zoo-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}

.chester-zoo-description h1 {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
}

.chester-zoo-description p {
    font-family: sans-serif;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.zoo-image-container h2 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.zoo-image-container p {
    font-size: 1rem;
    color: rgb(103, 101, 101);
    width: 30rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.zoo-image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.zoo-three-image-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 10rem;
}

.chester-zoo-animation {
    width: 30rem;
    padding: 1rem;
}

.zoo-animation-and-desc {
    display: flex;
    flex-direction: column;
}

.chester-zoo-banner {
    width: 30rem;
    padding: 1rem;
}

.zoo-banner-and-desc {
    display: flex;
    flex-direction: column;
}

.chester-zoo-facebook {
    width: 30rem;
    padding: 1rem;
}

.zoo-facebook-and-desc {
    display: flex;
    flex-direction: column;
}

.chester-zoo-geofilter {
    width: 25rem;
    padding: 1rem;
}

.zoo-geofilter-and-desc {
    display: flex;
    flex-direction: column;
}

.zoo-geofilter-and-desc h2 {
    padding: 1rem;
}