.navbar {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.work {
  text-decoration: none;
  color: #000000;
}

.contact {
  text-decoration: none;
  color: #000000;
}

.work:hover {
  border-bottom: 1px solid #000000;
  color: #000000;
}

.contact:hover {
  border-bottom: 2px solid #000000;
  color: #000000;
  transition: opacity 3s ease-in;
}

.logo {
  height: 80px;
}
