.page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 2rem;
  padding: 0;
}

.link-image {
  width: 30em;
  height: auto;
}
