h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

.timeline {
    width: 45%;
}

.split-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.timeline-description h1 {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
}

.timeline-description {
    width: 50%;
    margin: 2rem;
}

.timeline-start {
    width: 100%;
}

.timeline-middle1 {
    width: 100%;
}

.timeline-middle2 {
    width: 100%;
}

.timeline-end {
    width: 100%;
}

.timeline-honoraries {
    width: 100%;
}