h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

.split-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.women-images {
    width: 50%;
}

.women-modern {
    width: 45%;
}

.women-retro {
    width: 45%;
    margin-left: 2rem;
}

.women-in-tech-description {
    width: 40%;
    margin: 2rem;
}