h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

.women-in-tech-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 0;
}

.women-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.women-modern {
    width: 50%;
}

.women-retro {
    width: 50%;
    padding-left: 2rem;
}

.women-in-tech-description {
    width: 80%;
}

.women-in-tech-description h1 {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    text-align: center;
}