h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

.scrollable-news {
    overflow: auto;
    height: 30em;
    width: 100%;
    margin-bottom: 2rem;
}

.student-news-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-left: 15rem;
    margin-right: 15rem;
    padding: 0;
  }

.student-news-description h1 {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
}

.student-news-description {
    padding: 2rem;
    text-align: center;
}

.student-news-images {
    padding: 2rem;
}

.student-news-images h2 {
    margin-bottom: 2rem;
}