h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

.scrollable-news {
    overflow: auto;
    height: 30em;
    width: 60%;
}

.student-news-description h1 {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
}

.student-news-description {
    padding: 2rem;
}

.student-news-images {
    padding: 2rem;
}