h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

.birkenhead-description {
    margin: 2rem;
}

.birkenhead-description h1 {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    position: absolute;
    margin-top: 1rem;
}

.birkenhead-description p {
    width: 35%;
    position: absolute;
    margin-top: -1rem;
    margin-left: 67rem;
    background-color: white;
    padding: 1rem;
    padding-right: 0.5rem;
    border: 0.1rem black solid;
}

.birkenhead-mural {
    width: 100%;
    margin-top: 2rem;
}