.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.birkenhead {
  position: relative;
}

.text-overlay {
  position: relative;
  /* left: 4%;
  bottom: 40%; */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.birkenhead:hover .text-overlay {
  opacity: 1;
}

.birkenhead-pigeon {
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.birkenhead-pigeon:hover {
  opacity: 0.25;
  transition: .5s ease;
}
