.cwac-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-left: 15rem;
    margin-right: 15rem;
    text-align: center;
}

.cwac-description {
    margin: 2rem;
}

.cwac-description h1 {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
}

iFrame {
    margin-left: 2em;
}

.cwac-video-3 {
    margin-top: 2rem;
}

.row-videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .cwac-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        text-align: center;
    }

    .cwac-description {
        margin-bottom: 0rem;
    }

    .cwac-description h1 {
        font-family: "Bowlby One SC", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
    }

    .row-videos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    iFrame {
        width: 100%;
        margin-left: 0em;
    }

    .cwac-video-1 {
        margin-top: 0rem;
        margin-bottom: 2rem;
    }

    .cwac-video-3 {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}